<form action="/login" method="POST">

    <div id="login-container">
        <h3>Login</h3>
        <p>{{messages.success}}</p>
        <p>{{messages.error}}</p>
        <div class="login-pair">
            <label for="email" class="login-label">Email</label>
            <input type="email" name="email" class="login-input">
        </div>

        <div class="login-pair">
            <label for="password" class="login-label">Password</label>
            <input type="password" name="password" class="login-input">
        </div>
        <button type="submit">Submit</button>
    </div>
</form>
