@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans+SC&family=Caveat&family=Comfortaa:wght@300&family=Exo+2:wght@200&family=Gruppo&family=Handjet&family=Inconsolata:wght@500&family=Jersey+25&family=Merienda&family=Miltonian+Tattoo&family=Montserrat:ital@1&family=Playfair+Display&family=Poppins:wght@200&family=Protest+Revolution&family=Rubik+Glitch+Pop&family=Ultra&display=swap');

#welcome-heading{
    text-align: center;
    font-family: 'Miltonian Tattoo', sans-serif;
    text-align: center;
    color: #3B3C36;
    text-wrap: wrap;
    letter-spacing: 1px;
    text-shadow: .5px .5px 2px #FF2400;
}

#shoes-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.each-shoe-div{
    border: 1px solid olivedrab;
    width: fit-content;
    margin: .5em;
    border-radius: 5px;
    box-shadow: .5px 5px 20px #3B3C36;
}

#filter-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

.shoe-detail{
    font-family: 'Comfortaa';
    font-style: normal;
    padding: 0 2em;
    font-weight: 600;
    text-shadow: .5px .5px darkgoldenrod;
}

.shoe-data{
    color: lightseagreen;
}

.add-to-cart{
    background-color: #333;
    color: beige;
    padding: .5em 1em;
    margin: .1em .15em;
    border: none;
    border-bottom-left-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.add-to-cart:hover{
    cursor: pointer;
    background-color: lightblue;
    color: darkcyan;
}

.image{
    width: 290px;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.image:hover{
    cursor: pointer;
    transform: scale(1.01);
}

#likes-div{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 2em;
    font-size: 150%;
    color: dodgerblue;
    transform: translateY(1.2em);
}

#cart-icon{
    font-size: 150%;
    margin: 0 .7em;
}

.filters{
    display: flex;
    flex-direction: row;
}

.filter-label{
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    color:rebeccapurple;
    padding: 0 .3em;
}

.filter-select{
    padding: .3em .5em;
    margin: .1em .2em;
    border-radius: 5px;
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: lightyellow;
    color: rebeccapurple;
}

.filter-select:hover{
    background-color: darkslategray;
    color: beige;
}

.filter-option{
    color: darkseagreen;
    font-weight: bolder;
}

#brand_and_size_div{
    margin: 0 0 0 17em;
}

.submit_btn{
    border-radius: 4px;
    border: none;
    margin: 0 .5em;
    padding: .4em .6em;
    background-color: darkslategray;
    color: navajowhite;
    letter-spacing: .3px;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 2px 2px 5px lightslategray;
}

.submit_btn:hover{
    background-color: green;
    cursor: pointer;
    transform: scale(1.01);
    transition: .5s ease;
    border: 1.5px dashed #fff;
    border-radius: 7px;
    color: beige;
}

@media screen AND (max-width: 631px){
    
    #shoes-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-wrap: wrap;
    }

    #brand_and_size_div{
        margin: 0;
    }

    .submit_btn{
        margin: .6em .7em;
    }

    .filters{
        flex-wrap: wrap;
        margin: 0 0 0 3.5em;
    }

    .filter-label{
        margin: 0 0 0 2em;
    }

    .filter-select{
        margin: .8em .6em;
    }
}